<nav>
  <section class="nav-section">
    <h1 class="nav-header">Solar Systems Build<a href=""></a></h1>
    <ul class="nav-list">
      <li class="list-items"><a href=""></a>Projects</li>
      <li class="list-items"><a href=""></a>Services</li>
      <li class="list-items"><a href=""></a>About Us</li>
      <li class="list-items"><a href=""></a>Contacts</li>
      <li class="list-items">
        <div class="image-wrapper">
          <img
            src="../../../../assets/icons/icons8-menu.svg"
            alt=""
            width="50"
          />
        </div>
      </li>
    </ul>
  </section>
  <section class="lending-section">
    <h1 class="main-header">Solar Systems Build</h1>
    <p>The energy of the future</p>
  </section>
</nav>
