@import "../../../../styles.scss";
@import "../../../../variables";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

nav {
    padding: 20px 30px;
    background: grey; // TODO remove when image background applied
    @include flex(row, wrap, space-between, center);
    .nav-right {
        @include flex(row, wrap, space-between, center);
        @include mobile {
            display: none;
        }
        & .nav-list {
            &-items {
                display: inline;
                margin-right: 5px;
            }
        }
    }
}

.nav-header {
    font-family: "Playfair Display", serif;
    font-size: 25px;
}

.main-header {
    font-size: 70px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

p {
    margin-top: 20px;
}

h1,
li,
p {
    color: $header-letters-color;
}

.mobile {
    display: none;
    @include mobile {
        display: block;
        position: fixed;
        right: 50px;
        z-index: 2;
        & .menuToggle {
            display: block;
            position: relative;
            user-select: none;
            input {
                //hamburger
                display: block;
                width: 40px;
                height: 32px;
                position: absolute;
                cursor: pointer;
                opacity: 0;
                z-index: 2;
                &:checked ~ span {
                    //top line
                    transform: rotate(45deg) translate(2px, 0px);
                    background: white;
                }
                &:checked ~ span:nth-last-child(2) {
                    //middle line
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }
                &:checked ~ span:nth-last-child(1) {
                    //last line
                    transform: rotate(-45deg) translate(0px, -1px);
                }
                &:checked ~ ul {
                    transform: none;
                }
            }
            span {
                // 3 lines
                display: block;
                width: 28px;
                height: 3px;
                margin-bottom: 5px;
                position: relative;
                background: white;
                border-radius: 3px;
                z-index: 1;
                transform-origin: 4px 0px;
                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
                &:first-child {
                    transform-origin: 0% 0%;
                }
                &:nth-last-child(2) {
                    transform-origin: 0% 100%;
                }
            }
        }
    }
}

.overlay-mobile-menu {
    display: none;
    @include mobile {
        display: block;
    }
    & .menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding-top: 125px;
        overflow-y: hidden;
        background: black;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        li {
            padding: 10px 0;
            font-size: 22px;
            width: 240px;
            margin: 0 auto;
            cursor: pointer;
            & .social {
                img {
                    padding: 10px;
                    cursor: pointer;
                    max-width: 50px;
                    max-height: 50px;
                }
            }
        }
    }
}
.checked {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background: black;
    & .menu {
        transform: none;
    }
}
