<main>
  <section class="card">
    <h1 class="card-title">Projects</h1>
    <p class="text-title">
      Solar PV Project means the Solar Photo-voltaic power project that uses
      sunlight for direct conversion into electricity through Photo-voltaic
      technology.
    </p>
    <div class="btn"><a href="/projects">read more ...</a></div>
  </section>
  <section class="card">
    <h1 class="card-title">Services</h1>
    <p class="text-title">
      Photovoltaics is the direct conversion of light into electricity at the
      atomic level. Some materials exhibit a property known as the photoelectric
      effect that causes …
    </p>
    <div class="btn"><a href="/services">read more ...</a></div>
  </section>
</main>
