<app-navbar-home></app-navbar-home>  
 <div hidden class="img-wrapper"><img src="https://www.iloveqatar.net/public/videos/thumbs/_760x500_clip_center-center_none/Solar-Cover.jpg" alt=""></div>
<main>
  <section class="card">
    <h1 class="card-title">Projects</h1>
    <p class="text-title">
      Solar PV Project means the Solar Photo-voltaic power project that uses
      sunlight for direct conversion into electricity through Photo-voltaic
      technology.
    </p>
    <a href="/projects"><button>read more ...</button></a>
  </section>
  <section class="card">
    <h1 class="card-title">Services</h1>
    <p class="text-title">
      Photovoltaics is the direct conversion of light into electricity at the
      atomic level. Some materials exhibit a property known as the photoelectric
      effect that causes …
    </p>
    <a href="/projects"><button>read more ...</button></a>
  </section>
</main>
<app-footer></app-footer>
