<div class="main">
  <app-landing></app-landing>
  <div class="articles">
    <article class="card">
      <h1 class="card-title">Projects</h1>
      <p class="card-content">
        Solar PV Project means the Solar Photo-voltaic power project that uses
        sunlight for direct conversion into electricity through Photo-voltaic
        technology.
      </p>
      <a class="card-button">read more ...</a>
    </article>
    <article class="card">
      <h1 class="card-title">Services</h1>
      <p class="card-content">
        Photovoltaics is the direct conversion of light into electricity at the
        atomic level. Some materials exhibit a property known as the photoelectric
        effect that causes …
      </p>
      <a class="card-button">read more ...</a>
    </article>
  </div>
</div>