@import "../../../styles.scss";
@import "../../../variables";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

.main {
    height: 800px;
}

.form-title {
    max-width: 200px;
    text-align: center;
    padding: 5px 15px;
    color: $footer-background;
    position: relative;
    top: 102px;
    left: 613px;
    font-size: 32px;
}

.form-wrapper {
    background: lavender;
    width: 1450px;
    height: 600px;
    @include flex(row, wrap, center, center);
    form {
        border: 0.5px solid $footer-background;
        border-radius: 5px;
        padding: 40px;
        padding-bottom: 10px;
        .form-input {
            position: relative;
            label {
                background: $footer-background;
                border-radius: 5px;
                padding: 0px 10px;
                position: absolute;
                bottom: 81px;
                left: 17px;
                color: white;
            }
            p {
                font-size: 11px;
                color: #c51244;
                position: absolute;
                bottom: 23px;
                left: 10px;
            }
            .uppercaseError,.lowercaseError{
                color: $footer-background;
            }
            select {
                margin-top: 30px;
                background: transparent;
                border: 0.5px solid $footer-background;
                width: 490px;
                height: 52px;
                margin-bottom: 40px;
                border-radius: 5px;
            }
            & input {
                outline: none;
                background: transparent;
                border: 0.5px solid $footer-background;
                width: 490px;
                height: 52px;                
                margin-bottom: 40px;
                border-radius: 5px;
                &:hover {
                    border: none;
                    border-radius: 0px;
                    border-bottom: 0.5px solid $footer-background;
                }
            }
        }
        .submit {
            text-align: center;
            color: white;
            font-size: 18px;
            background: $footer-background;
            border: none;
            height: 45px;
            width: 490px;
            margin-bottom: 20px;
        }
    }

  
}

// .digit, .uppercase{
//     color: $footer-background;
// }

