<div class="main">
  <div class="header">
    <h1 class="lending-section-header">Solar Systems Build</h1>
    <p class="lending-section-text">The energy of the future</p>
  </div>
  <div class="form-title">Sign up</div>
  
  <div class="form-wrapper">
    <form action="" method="post">
      <div class="form-input">
       <label for="">Region</label>
        <input id="region" type="text" />
      </div>
      <div class="form-input">
        <label for="">Email</label>
        <input type="text" />
      </div>
      <div class="form-input">
        <label for="">Password</label>
        <input type="text" />
      </div>
      <div class="form-input">
         <label for="">Confirm password</label>
        <input type="text" />
      </div>
      <input class="submit" type="submit" value="Submit" placeholder="Submit" />
    </form>
  </div>
</div>
