<nav>
 
  <section class="nav-section">
    <h1 class="nav-header">Solar Systems Build<a href=""></a></h1>
    <ul class="nav-list">
      <li class="nav-list-items"><a href=""></a>Projects</li>
      <li class="nav-list-items"><a href=""></a>Services</li>
      <li class="nav-list-items"><a href=""></a>About Us</li>
      <li class="nav-list-items"><a href=""></a>Contacts</li>
    </ul>
    <div class="overlay-mobile-menu" [ngClass]="{ checked: isMobileMenuOpen }">
      <ul class="menu">
        <li (click)="toggleMobileMenu()">
          <a class="home-btn" routerLink="/home">Homepage</a>
        </li>
        <li (click)="toggleMobileMenu()"><a>Link</a></li>
        <li (click)="toggleMobileMenu()"><a>Link</a></li>
        <li (click)="toggleMobileMenu()">
          <div class="social">
            <section class="wrapper">
              <div class="circle">
                <a
                  ><img src="assets/icons/twitter.svg" alt="Facebook Link"
                /></a>
              </div>
              <div class="rectangle">
                <div class="text-wrapper">
                  <p class="text text-up">Lorem ipsum dolor.</p>
                  <hr />
                  <p class="text text-down">
                    Lorem ipsum dolor sit amet, consectetur
                  </p>
                </div>
              </div>
            </section>
            <section class="wrapper">
              <div class="circle">
                <a
                  ><img
                    id="instagram"
                    src="assets/icons/instagram.svg"
                    alt="Instagram Link"
                /></a>
              </div>
              <div class="rectangle">
                <div class="text-wrapper">
                  <p class="text text-up">Lorem ipsum dolor.</p>
                  <hr />
                  <p class="text text-down">
                    Lorem ipsum dolor sit amet, consectetur
                  </p>
                </div>
              </div>
            </section>
            <section class="wrapper">
              <div class="circle">
                <a
                  ><img src="assets/icons/facebook.svg" alt="Twitter Link"
                /></a>
              </div>
              <div class="rectangle">
                <div class="text-wrapper">
                  <p class="text text-up">Lorem ipsum dolor.</p>
                  <hr />
                  <p class="text text-down">
                    Lorem ipsum dolor sit amet, consectetur
                  </p>
                </div>
              </div>
            </section>
          </div>
        </li>
      </ul>
    </div>
    <div class="mobile">
      <div class="menuToggle" (click)="toggleMobileMenu()">
        <input type="checkbox" [checked]="isMobileMenuOpen" />
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </section>
   
  <section class="lending-section parallax">
    <h1 class="lending-section-header">Solar Systems Build</h1>
    <p class="lending-section-text">The energy of the future</p>
  </section>
  <section class="icon-section">
    <a href="">
    <img src="../../../../assets/icons/down-arrow-svgrepo-com.svg" alt="">
    </a>
  </section>
</nav>
