@import "../../../../styles.scss";
@import "../../../../variables";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

img {
    max-width: 40px;
}

nav {
    background-image: url("../../../../assets/img/Снимка\ от\ 2021-11-18\ 16-30-15.png");
    background-size: cover;
    height: 100vh;
    position: sticky;
    font-family: Muli, italic;

    .nav-section {
        @include flex(row, wrap, space-between, center);
        height: 100px;
        padding: 0px 40px;

        .nav-header {
            @include playfair-display-serif(25px, normal, $header-letters-color);
        }

        & .nav-list {
            @include flex(row, wrap, space-around, center);
            list-style: none;
            flex-basis: 30%;

            &-items {
                color: $header-letters-color;
            }
            &-items:hover {
                padding: 10px 20px;
                border-radius: 3px;
                background: #8a8fa6;
            }
        }
        @include hamburger-menu-style;
    }
    & .lending-section {
        @include flex(column, wrap, center, center);
        justify-content: end;
        margin-top: 300px;

        &-header {
            @include playfair-display-serif(70px, bold, $header-letters-color);
        }

        &-text {
            margin-top: 20px;
            color: $header-letters-color;
        }
    }
}
