<footer>
    <div class="header">
        <h4 class="site-copyright">©2021 Solar Systems Build</h4>
    </div>
    <hr>
    <div class="links">
        <ul class="nav-list">
            <li class="nav-items">
                <a>Contacts</a>
            </li>
            <li class="nav-items">
                <a> Projects</a>
            </li>
            <li class="nav-items">
                <a>Services</a>
            </li>
            <li class="nav-items">
                <a>Contacts</a>
            </li>
        </ul>
    </div>
    <div class="powered-by">Powered by <span>Us</span> & <span>Angular</span></div>
</footer>