<footer>
   <section class="footer-top">
       <div class="site-copyright">©2021 Solar Systems Build</div>
   </section>
   <hr>
   <section class="footer-middle">
       <ul class="nav-list">
           <li class="nav-items">
               <a href="http://">About Us</a>
           </li>
           <li class="nav-items">
               <a href="http://"> Projects</a>
           </li>
           <li class="nav-items">
               <a href="http://">Services</a>
           </li>
           <li class="nav-items">
               <a href="http://">Contacts</a>
           </li>
       </ul>  
   </section>
   <section class="footer-bottom">
       <div class="powered-by">Powered by <span>Us</span>  & <span>Angular</span></div>
   </section>
</footer>
