@import "../../../../variables";
@import "../../../../styles.scss";

footer {
    @include flex(column, wrap, center, center);
    background: $footer-background;
    height: 290px;
    font-family: Muli, italic;
    padding-bottom: 20px;
}

.header {
    height: 40%;
}

hr {
    width: 60%;
    height: 1px;
    border: 0.1 solid #354746;
    margin: 0px auto;
}

.site-copyright {
    color: $footer-color;
    margin: 60px auto;
    text-align: center;
}

.links {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    @include flex(row, wrap, space-around, center);
    list-style: none;
    li {
        margin-right: 10px;
    }
}

a {
    color: $orange-color;
    text-decoration: none;
    &:hover {
        @include orange-hover;
    }
}

.powered-by {
    cursor: pointer;
    text-align: center;
    color: $footer-color;
    padding: 15px 0;
    span {
        color: $orange-color;
        &:hover {
            @include orange-hover;
        }
    }
}
