@import "../../../../variables";
@import "../../../../styles.scss";

footer {
    @include flex(column, wrap, no, no);
    background: $footer-background;
    height: 290px;
    font-family: Muli, italic;
}

.footer-top {
    height: 40%;
}

hr {
    width: 60%;
    height: 1px;
    border: 0.1 solid #354746;
    margin: 0px auto;
}

.site-copyright {
    color: $footer-color;
    margin: 60px auto;
    text-align: center;
}

.footer-middle {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    @include flex(row, wrap, space-around, center);
    list-style: none;
    flex-basis: 30%;
}

a {
    color: $orange-color;
    text-decoration: none;
}

a:hover {
    @include orange-hover;
}

.powered-by {
    text-align: center;
    color: $footer-color;
    padding-top: 15px;
}

span {
    color: $orange-color;
}

span:hover {
    @include orange-hover;
}
