<p>timer works!</p>

    <div class="main">
    <div class="container">
        <div class="first">
         <button class="start" id="start" (click)="clickStart()" >Start</button>        
         <button class="stop" (click)="clickStop()" >Stop</button>
        </div>
        <h1 class="timer" (click)="clickPause()"  >        
            {{counter}}
        </h1>
        <div class="second">
         <button class="min" (click)="clickMin()" >-10</button>
         <button class="max"(click)="clickMax()"  >+10</button>
        </div>
    </div>
   
 

   


