$black: #272727;
$white: #fff;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$mobile: 800px;

$footer-background:#1e3231;
$footer-color:#DBDBDB;
$orange-color:#e9b44c;
$orange-hover:#0F8B8D;
$hamburger-background:#066664;
$home-background:#f3f7f6;
$header-letters-color:#dcdcdc;
$muli-regular:Muli, regular;

$home-color:#707070;