/* You can add global styles to this file, and also import other style files */
@import "./variables";

/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Mixins */

@mixin flex($direction, $justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $alignr;
    flex-direction: $direction;
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}