/* You can add global styles to this file, and also import other style files */
@import "./variables";

/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Mixins */

@mixin flex($direction, $wrap, $justify, $align) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}


@mixin hover($color, $transition) {
    color: $color;
    transition: color $transition;
}

@mixin orange-hover {
    color: $orange-hover;
    transition: color 2s;
}

@mixin playfair-display-serif($font-size, $font-weight, $color) {
    font-family: "Playfair Display", serif;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}
